<div>
    {{arrayTest.[0]}}
    {{arrayTest.[1]}}
    {{arrayTest.[2]}}
</div>
<br />

<div>
    <div>Escaped: {{url}}</div>
    <div>Raw: {{{url}}}</div>
</div>
<br />


<p>T  {{arrayTest.[0]}}   T</p>
<p>T  {{~arrayTest.[0]}}   T</p>
<p>T {{~arrayTest.[0]~}} T</p>
