<h1>Page: Home</h1>

<div>
    {{name}}<br />
    {{numbers}}
</div>

{{#if (name)}}
<span>I have a name!</span>
{{/if}}<br />

{{#unless (name)}}
<span>I have NOT a name! {name}</span>
{{/unless}}<br />

{{#if numbers includeZero=true}}
<span>I have a numbers with 0</span>
{{/if}}<br />

{{#unless numbers includeZero=true}}
<span>I have NOT a numbers with 0</span>
{{/unless}}<br />

{{#if numbers}}
<span>I have a numbers without 0</span>
{{/if}}<br />

{{#if cond}}
<span>I have a condition validated</span>
{{else}}
<span>I have a condition else, not validated</span>
{{/if}}<br />

<h2>Array #each</h2>

{{#each arrayTest}} <div>{{@index}}: {{this}}</div> {{/each}}

{{#each arrayObjectTest}}
    <div>{{this.firstname}}</div>
{{/each}}

<h2>Deconstruction with #with</h2>

{{#each arrayObjectTest}}
    {{#with this}}
        <div>{{firstname}}</div>
    {{/with}}
{{/each}}

<h2>Lookup</h2>

{{#each arrayComplex.orders}}
    <div>{{id}} | {{restaurant.id}}</div>
    {{log @root.arrayComplex.restaurants}}
    {{#with (lookup @root.arrayComplex.restaurants restaurant.id)}}
        <div>Title: {{title}}</div>
    {{/with}}
    {{#with (lookup @root.arrayComplex.clients client.id)}}
        <div>Title: {{title}}</div>
    {{/with}}
    {{#with (lookup @root.arrayComplex.adresses restaurant.address.id)}}
        <div>City: {{city}}</div>
    {{/with}}
{{/each}}

<h2>Logs (see terminal)</h2>

{{log "debug logging" level="debug"}}
{{log "info logging" level="info"}}
{{log "info logging is the default"}}
{{log "logging a warning" level="warn"}}
{{log "logging an error" level="error"}}

{{log numbers}}
{{log arrayTest}}
{{log arrayObjectTest}}