<ul>
    <li>{{@exphbs.cache}}</li>
    <li>{{@exphbs.encoding}}</li>
    <li>{{@exphbs.view}}</li>
    <li>{{@exphbs.layout}}</li>
    <li>{{@exphbs.data}}</li>
    <li>{{@exphbs.helpers}}</li>
    <li>{{@exphbs.partials}}</li>
    <li>{{@exphbs.runtimeOptions}}</li>
</ul>